.Securitydevices-container h2{
  font-size: 33px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
  color: rgb(8, 76, 204);
  text-shadow: rgb(42, 102, 215) 1px 1px 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.Security-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: space-between;
}
.Security-wrap-col {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}
.Security-wrap-col-info {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Security-wrap-description h2 {
  letter-spacing: 1px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 700;
  padding: 10px 0;
  margin: 0;
  color: #000;
  text-shadow: rgb(2, 7, 17) 1px 1px 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Security-wrap-description h2::after{
  content: "";
  position:absolute;
  width: 40%;
  left: 3px;
  height: 2px;
  top: 90%;
  background-color: #4b7ef8;
}
.Security-wrap-description {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 20px;
  position: relative;
}
.Security-social {
  width: calc(50% - 10px);
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  text-align: center;
  transition: 0.5s;
  background-color: #4b7ef8;
  cursor: pointer;
  margin: 10px 0;
}
.Security-social-btn-text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  text-shadow: rgb(4, 41, 110) 1px 1px 1px;
}
.Security-social-btn:hover,
.Security-social:hover {
  background-color: rgb(9, 85, 226);
  transform: scale(1.07);
}
.Security-wrap-slider {
  width: 40%;
}
.slick-slider,.slick-list,.slick-slide,.slick-slide{
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}
.slick-slide img{
  width: 100%;
  height: 453px;
  margin-top: 20px;
  object-fit: cover;
}
.Security-icon {
  color: #fff;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
}
.Security-specifications {
  width: calc(50% - 10px);
}
.Security-wrap-item li {
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  height: 30px;
  margin-bottom: 5px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 10px;
}
.Security-item-list {
  border: 1px solid #e0e0e0;
  height: 30px;
  color: #000;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 10px;
}
